@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --swiper-theme-color: #fff !important;
  /* --swiper-theme-bullet: 20px !important; */
  --swiper-navigation-size: 35px !important;
}
.swiper-button-prev {
  left:2rem !important; 
}
/* .swiper-slide-active{
  border: solid 10px gray;
} */
.swiper-button-next {
  right:2rem !important; 
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: #fff !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  /* transition: all ease; */
}
.swiper-pagination-bullet::before{
  opacity: 1 !important; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}
.swiper-pagination-bullet-size {
  width: 10px !important;
  height: 10px !important;
}
.courses-swiper-pagination .swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background-color: #ccc; /* Bullet color */
  opacity: 1;
  transition: background-color 0.3s, border-color 0.3s;
}

.courses-swiper-pagination .swiper-pagination-bullet-active {
  position: relative;
  width: 18px !important;
  height: 18px !important;
  top: 1px;
  background-color: #fff; /* Active bullet color */
  border: 4px solid #BC00DD; /* Active bullet border color */
}
@media (max-width:768px) {
  :root {
    --swiper-navigation-size: 0px !important;
  }
}